@model ContactVM
<main id="Account">
    <!-- Start-MAin -->
    <Section class="Account">
        @if(User.IsInRole("Member"))
        {
            <div class="tab-account">
                <button id="1" class="Active">Hesab təfərrüatları</button>
                <button id="2">Mənim ünvanlarım</button>
                <button id="3">Sifariş tarixçəm</button>
            </div>
        }
        <div class="Acount-detail" style="width:70%">
            <div id="1" class="tab-m Hesab">
                <h3>Hesab təfərrüatları</h3>
                <div>
                    <h5>Şəxsi məlumat</h5>
                        <p>Ad:  <span>@Model.AppUser.FirstName</span></p>
                        <p>Soyad: <span>@Model.AppUser.LastName</span></p>
                        <p>Username: @User.Identity.Name</p>
                        <p>E-mail: <span>@Model.AppUser.Email</span></p>
                        <p style="margin-bottom: 20px;">Phone: <span>@Model.AppUser.PhoneNumber</span></p>
                        <p><i style="margin-right: 5px;" class="fa-solid fa-pen-to-square"></i>Edit</p>
                </div>
            </div>
            <div id="2" class="tab-m Adres d-none" >
                <h3>Mənim ünvanlarım</h3>
                <div class="" style="display: flex; flex-wrap: wrap;">
                    @if (Model.Adresses != null && Model.Adresses.Any())
                    {
                        foreach (var address in Model.Adresses)
                        {
                            <div style="margin:20px 10px 20px 0px;width:30%;border-radius:12px;border:1px solid #adabab" class="All">
                                <h5>Ünvan</h5>
                                <p style="margin-bottom: 20px; width: 60%;">
                                <p style="font-weight:bold">Country: <span style="font-weight:normal">@address.Country</span></p>
                                <p style="font-weight:bold">State: <span style="font-weight:normal">@address.State</span></p>
                                <p style="font-weight:bold">City: <span style="font-weight:normal">@address.City</span></p>
                                <p style="font-weight:bold">Adress: <span style="font-weight:normal">@address.Adresss</span></p>
                                <p style="font-weight:bold">Postcode: <span style="font-weight:normal">@address.Postcode</span></p>
                                </p>
                                <div>
                                    <form asp-action="Delete" asp-controller="Account" method="post" style="display: flex;justify-content: flex-end;" onclick="return confirm('Yox Anam Yox Emele gelen deyil!!!');">
                                        <input type="hidden" name="id" value="@address.Id" />
                                        @Html.AntiForgeryToken()
                                        <button type="submit" class="btn btn-danger">
                                            <i class="bx bx-trash"></i>Delete
                                        </button>
                                    </form>
                                </div>
                            </div>
                        }
                    }
                </div>
                <form asp-controller="Account" asp-action="Create" method="post" style="width:90%;">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="row g-4">
                        <div class="form-group col-lg-6">
                            <input asp-for="@Model.Adress.Country" class="form-control" placeholder="Country" type="text" />
                            <span asp-validation-for="@Model.Adress.Country" class="text-danger"></span>
                        </div>
                        <div class="form-group col-lg-6">
                            <input asp-for="@Model.Adress.State" class="form-control" placeholder="state" type="text" />
                            <span asp-validation-for="@Model.Adress.State" class="text-danger"></span>
                        </div>
                        <div class="form-group col-lg-6" style="">
                            <input asp-for="@Model.Adress.City" type="text" class="form-control" placeholder="City" type="text" />
                            <span asp-validation-for="@Model.Adress.City" class="text-danger"></span>
                        </div>
                        <div class="form-group col-lg-6">
                            <input asp-for="@Model.Adress.Adresss" class="form-control" placeholder="Adresss" type="text" />
                            <span asp-validation-for="@Model.Adress.Adresss" class="text-danger"></span>
                        </div>
                        <div class="form-group col-lg-6">
                            <input asp-for="@Model.Adress.Postcode" class="form-control" placeholder="Postcode" type="text" />
                            <span asp-validation-for="@Model.Adress.Postcode" class="text-danger"></span>
                        </div>
                        <div class="form-group col-lg-6">
                            <input asp-for="@Model.Adress.UserName" class="form-control" placeholder="Username" type="text"/>
                            <span asp-validation-for="@Model.Adress.UserName" class="text-danger"></span>
                        </div>
                    </div>
                    @if (User.Identity.IsAuthenticated)
                    {
                        @if (User.IsInRole("Member"))
                        {
                            <button style="background-color:black;color:white;padding:8px 12px;border-radius:5px;margin-top:10px;border-style:none;" type="submit">Create Adress</button>
                        }
                    }
                </form>
            </div>
            <div id="3" class="tab-m Order d-none">
                <div class="table-responsive">
                    <table class="table table-bordered table-striped table-order-history">
                        <thead>
                            <tr>
                                <th scope="col"># </th>
                                <th scope="col">Product Name</th>
                                <th scope="col">Order Date </th>
                                <th scope="col">Status</th>
                                <th scope="col"> Price</th>

                            </tr>
                        </thead>
                        <tbody>
                            @{
                                decimal totalPrice = 0;
                            }
                            @foreach(var basket in Model.Baskets)
                            {
                                <tr>
                                    <td>@basket.Id</td>
                                    <td><b>@basket.Name</b></td>
                                    <td>@basket.CreatedDate</td>
                                    <td>Shipped</td>
                                    <td><span class="color">$@basket.Price</span></td>
                                </tr>
                                totalPrice += basket.Price;

                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </Section>
</main> <!-- End-MAin -->
@section scripts{
    <partial name="_ValidationPartial"></partial>
}
